@import url('https://fonts.googleapis.com/css?family=Lato:400,700');



body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
  padding-bottom: 0px;
}


.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .09rem;
  background: rgba(0,0,0,.7)!important;
}

.navbar-brand img{
  height: 2.5rem;
}

.navbar-nav li{
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
  color:white;
  padding-top: .7rem;
}

.navbar-dark .navbar-nav .nav-link .active,.navbar-dark .navbar-nav .nav-link:hover{
  color: #1ebba3;
}


.carousel-item{
  heigh:100vh;
}

.carousel-item img{
  height: 770px;
  width: 100%;
}

.carousel-caption{
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  width: 100%;
  right: 0;
  left: 0;
}

.carousel-caption h1{
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.carousel-caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;

}

.about_us{
  margin: 50px auto;
}

.about_us h1{
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.about_us h1::after{
  content: '';
  display: block;
  background: #505962;
  height: 3px;
  width: 300px;
  margin: 20px auto 5px;
}



.jumbotron p{
  color: #fff;
  text-align: justify;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 2em;
}

.about_us h2,p{
  color: black;
}

.jumbotron .btn{
  font-size: 18px;
  font-weight: 700;
}

.footer_bottom li{
  line-height: 20px;
  padding: 4px;
}



.footer_bottom ul li a{
  text-decoration: none;
  color: white; 
  font-weight: 700;
  font-size: 15px;
  letter-spacing: .1rem;
}

.footer_bottom ul li a:hover{
  color: #1ebba3;
}

.footer_icon fa{
  font-size: 14px;
  font-weight: bold;

}


.footer_icon li{
  font-weight: bold;
  letter-spacing: .5px;
}

.copyright-text{
  margin: auto;
  padding-bottom: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer-bottom-text p{
  color: white;
  font-weight: 700;
}

.img-gallery{
  padding-top: 25px;
}

img-gallery h1{
  font-weight: 700;
  text-transform: uppercase;
}

.img-gallery h1::after{
  content: '';
  display: block;
  background: #505962;
  height: 3px;
  width: 300px;
  margin: 20px auto 5px;
}

.item{
  transition:.5sec ease-in-out;
}

.item:hover{
  filter: brightness(60%);
}

.our-team img{
  max-width: 100%;
  height: 350px;
}

.our-team a{
  font-size: 30px;
  font-weight: 700;
  padding: 2px;
}

.our-team a:hover{
  color: black;
}

.form-section{
  padding-top: 75px;
  background-color: #696868;
}

.form-section h1::after{
  content: '';
  display: block;
  background: #505962;
  height: 3px;
  width: 300px;
  margin: 10px auto 5px;
}

.form-section .btn-info{
  background: transparent;
  letter-spacing: 2px;
  transition: all 0.5s ease-in-out;
}
.contact-icon{
  font-size: 18px;
  font-weight: 700;
  color: white;
}

.contact-icon a:hover{
  color: #999;
}

.form-section .btn-info:hover{
  background-color: blue;
  transform: scale(1.05);
}



.services-section h1::after{
  content: '';
  display: block;
  background: #505962;
  height: 3px;
  width: 300px;
  margin: 10px auto 5px;
}

@media (min-width: 411px) and (max-width: 539px){ 
.fb_plugin{
  padding-left: 25px;
  margin-bottom: 0px;

}
}

@media (min-width: 540px) and (max-width: 645px){
  .fb_plugin{
    margin-left: 120px;
  }
}

@media(min-height: 244px) and (max-height: 390px){
    .footer{
        min-height: 100vh;
    }
}

@media (min-width: 645px) and (max-width: 767px){
  .fb_plugin{
    margin-left: 160px;
  }
}

